<html>
  <head>
    <style>
      body {
        background: <%=
                      if message.include?("Please")
                        "#FFFFFF;"
                      elsif message.include?("Way too")
                        "#FF0000;"
                      elsif message.include?("right!")
                        "#00FF26;"
                      else
                        "#FF9C9C;"
                      end
                    %>
      }
    </style>
  </head>
  <body>
    <p>
      <%=
        if message.include?("right!")
          "#{message} The secret number is #{number}"
        else
          "#{message}"
        end
      %>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>
