<html>
  <head></head>
  <body>
    <p>
      <%=
        if message == "You got it right!"
          "#{message} The secret number is #{number}"
        else
          "#{message}"
        end
      %>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>
